<style>
    table {
        font-size: 24pt;
    }
    td {
        padding-left: 1em
    }
    strong {
        font-size:110%;
    }
</style>
<div id="boardgame-statistics">
    <h2>cLautapelikerho Statistics</h2>
    <table>
        <tr>
            <td class="label">Cooperative game win percentage</td>
            <td><strong>{{ coops.win_percentage }} %</strong> ({{ coops.wins }} wins and {{ coops.losses }} losses)</td>
        </tr>
        <tr>
            <td class="label">Most played game</td>
            <td><strong>{{ most_played.name }}</strong> ({{ most_played.time }} minutes played total)</td>
        </tr>
    </table>
</div>